@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Montserrat', ui-sans-serif, system-ui;
        overflow: hidden;
    }
}

@layer utilities {
    .perspective-500 {
        perspective: 500px;
    }

    .transform-style-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}