@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-text-size-adjust: 100%;
    }

    body {
        font-family: 'Montserrat', ui-sans-serif, system-ui;
        overflow-x: hidden;
        min-height: 100vh;
        min-height: 100dvh;
    }
}

@layer utilities {
    .perspective-500 {
        perspective: 500px;
    }

    .transform-style-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}